.DS_Store
*.pyc
*Questions.csv
Code/models/ADA/*
Code/resources/GloVe/glove.*B*
Code/resources/GloVe/glove.100d.pkl
Code/resources/GloVe/glove.300d.pkl
Code/resources/GloVe/*custom.pkl
Code/datasets/*SO*
.idea
Code/GloVe_code/*.bin